<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"></add>
    <add key="port0" value="1"></add>
    <add key="port1" value="2"></add>
    <add key="port2" value="3"></add>
    <add key="port3" value="4"></add>
  </appSettings>
</configuration>